.joystick-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    pointer-events: none;
}

.left-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    pointer-events: auto;
    gap: 12px;
}

.right-controls {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    pointer-events: auto;
    gap: 32px;
}

.right-controls > .control-group {
    margin-left: auto; /* Force push to right */
}


.control-group {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 12px;
    max-width: fit-content;
}

.horizontal-joystick {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 16px;
    align-self: flex-end;
}


.joystick-container p {
    text-align: right;
    margin: 0;
    font-weight: 500;
}

.left-controls p {
    text-align: left;
}
