.joystick-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    pointer-events: none;
}

.joystick-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: auto;
}

.joystick-container p {
    text-align: center;
    margin: 0 0 12px 0; /* Gap below the heading */
    font-weight: 500;
}
