.container {
    min-height: 100vh;
    background-color: #242424;
}

.segment-control {
    position: absolute;
    top: 24px;
    left: 32px;
}

.segment-control button {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}


